# env & secrets
.env

# python
__pycache__/
*.pyc
.venv/
venv/
pytest_cache/

# macOS
.DS_Store

# docker artifacts
*.log

# local data 
data/*.parquet
data/*.json
data/tmp/
# generated data
data/
airflow/dags/exports/
# allow folder to exist in Git
!airflow/dags/exports/.gitkeep

# common big/binary
*.parquet
*.zip
*.log
__pycache__/
.env
